<!DOCTYPE html>

</head>
<body>
    <center>
        <table border="1"width='200'>
                <br>
                <table border="2" >
                  <tr>
                      <td>Salary:</td>
                      <td><input type="number" name="salary" min="1000" max="10000"></td>
                  </tr>
                  <tr>
                      <td>Gender: (1 for male, 0 for female)</td>
                      <td><input type="number" name="gender" min="0" max="1"></td>
                  </tr>
                  <tr>
                      <td>Marital: (0 for Single, 1 for Married)</td>
                      <td><input type="number" name="marital" min="0" max="1"></td>
                  </tr>
                  <tr>
                    <td>Press the button to submit:</td>
                    <td><input type="submit"></td>
                  </tr>
                  <tr>
                    <tr><td align="center" colspan="2">The result</td></tr>
                  </tr>
                  <tr><td colspan="2" align="center"><label>{{ href2 }} </label></td></tr>
        </table>
    </center>
</body>
<html>